
:root{
    --color1:#033949;
    --color2:#a3ff15;
}
/*HEADER*/
header{
    background-image: url("../img/fondo_design3.jpg");
    height: 80vh; 
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
    margin-top: 80px;
    
    
    
}
/*TITULO*/
header>h1{
    display:block;
    position: absolute;
    color:white;
    font-family: "Segoe UI";
    font-size: 48pt;
    top:200px;
    right: 50px;
    text-align: center;
}
/*SUBTITULO*/
#t2{
      text-align: center;
      padding: 2px 0px;
      background-color: var(--color2);
      color: var(--color1);
      font-family: "Segoe UI";
      width: 100%;
      display: block;
      margin: 0;
      
      
    
  }
  /*LOGO*/
  img[id="logo1"]{
    float:left;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    position: absolute;
    margin: 10px;
    top: 190px;
    left: 150px  ;
    
}

/*NAV*/
nav{
    width: 80vw;
    padding: 10px ;
    position: absolute;
    top: 0px;
    text-align: center;
    left: 10%;
     
}
nav>a{
    display: inline-block;
    margin: 0px 20px ;
    padding: 7px;
    color: var(--color1);
    font-family: "Segoe UI";
    text-decoration: none;
    border: 3px solid var(--color1);
    font-weight: bold;
    
}
.active{
    border:3px solid var(--color2);
    color:var(--color2);
 }

    /*MAIN INDEX*/
main>section{
    margin-top: 30px;
    margin-left: 40px;
    padding: 30px ;
    padding-bottom: 0;
    width: 40vw;
    float:right;

}

/*FONTS DE P DE MAIN*/
main p{
   margin-bottom: 40px;
   font-family: "Segoe UI";
   font-size: 12pt;
}
 /*IMAGEN DE INDEX*/
img[id="image_index"], img[ id="contact1"]{
    float: left;
    height: 65vh;
    width: 50%;
    
    
}
/*SUBTITULOS EN EL MAIN DE INDEX Y ABOUT */
h3{
    font-family:  cursive;
    font-weight: bold;
    font-style: oblique;
    font-size:  16pt;
    color: var(--color1);
   
}
/*MAIN DE ABOUT*/
#info_about{
    margin-top: 30px;
    margin-left: 50px;
    padding: 20px;
    width: 45vw;
    float:left;
}

/*IMAGEN DE ABOUT*/
img[id="about1"]{
    float: right;
    height: 70vh;
    width: 45%;
}

/*GALERIA*/
#gallery{
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
#gallery>.grid-container{
    display: grid;
    grid-template-areas: none;
    grid-template-columns: repeat(4,210px);
    grid-template-rows: repeat(3,240px);
    grid-gap: 10px;
}
#gallery img{
      width: 100%;
      height: 100%;
      border: 2px solid var(--color1);
}
#gallery>.grid-container>div:nth-child(6){
    grid-column: span 2;
}
#gallery>.grid-container>div:first-child{
    grid-column: span 2;
}

#gallery>.grid-container>div:nth-child(8){
    grid-row: span 2;
}
#gallery>.grid-container>div:last-child{
    grid-column: span 2;
}
#gallery>.grid-container>div:nth-child(4){
    grid-row: span 2;
}
#gallery>.grid-container>div:nth-child(13){
    grid-column: span 2;
}

/* RULES MAIN */
#rules_main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: start;
    width: 60vw;
    margin: 5vw 20vw;
    
}
#rules_main p{
    margin-bottom: 0px;
}
ul.a{
    list-style-type: square;
}
ol.b{
    list-style-type: lower-alpha;
}
ol.c{
    list-style-type: lower-alpha;
}

/*MAIN SCHEDULE*/
#schedule_main{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: start;
    width: 60vw;
    margin: 5vw 20vw;

}

/* TABLAS*/
table{
   text-align: start;
   width: 100% ;
   
}
caption>h3{
    font-family: "Segoe UI" ;
    font-style: oblique;
    font-size:  16pt;  
    color: black;
    text-align: start;
    text-decoration: none;

}
#table1>caption>p{
  
    text-align: start;
    font-style: oblique;
    text-decoration: underline;
   
}
th{
    font-family: "Segoe UI";
    font-size: 14pt;
    text-align: start;
    text-decoration: underline;
}
td{
    font-family: "Segoe UI";
    font-size: 12pt;
    text-align: start;
    
}
#table3{
    border-collapse: collapse;
    width: 100%;
    
}
#table3 th,#table3 td{
    border: 1px solid black;
    text-align: center;
}
iframe{
    width: 300px;
}
#table4{
    width: 100%;
    text-align: start;
    margin-bottom: 40px;
}
#table4 th {
    padding: 20px;
   font-size: 12pt;
   text-align: start;
   text-decoration: none;
   font-weight: normal;
}

.lista{
    padding: 0;
    text-align: start;
    list-style-type: none;
}
#schedule_main p{
    margin-bottom: 0px;
}

/* FORM MAIN */
#form_main{
    margin-top: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: start;
    width: 60vw;
    margin: 5vw 20vw;
    font-family: "Segoe UI";
    font-size: 12pt;
}
input{
    border:0;
    border-bottom: 1px solid black;
    margin:5px 3px;
}
#address{
    width: 80%;
}
#city{
    width: 50%;
}
#parent{
    width: 78%;
}
#mail{
    width: 32%;
}
input[type=date]{
    margin-right: 20px;
}
#other>label{
    margin: 10px;
}
dd{
    margin-bottom: 20px;
    margin-top: 20px;
}
input[type=checkbox]{
    margin-right: 60px;
}
legend{
    font-weight: bold;
}
.text_form{
    font-family: "Segoe UI";
    font-size: 10pt;   
    margin-left: 0;
}
.text_form>dt{
    text-decoration: underline;
    font-weight: bold;
}
.text_form>dd{
   margin-left: 0;
}
.info_end{
    font-family: "Segoe UI";
    font-size: 11pt;
}
#parent_end{
    font-size: 8pt; 
    width: 48%;
}

/* Media-Queries */

@media screen and (min-width: 1920px){
    header>h1{
        font-size: 54pt;
        top:220px;
        right:100px;
        text-align: center;
    }

    img[id="logo1"]{
        
        height: 400px;
        width: 400px;
        margin: 10px;
        top: 220px;
        left: 60px  ;
        
    }
}

@media screen and (max-width: 1280px){
    header>h1{
        font-size: 54pt;
        top:200px;
        left:250px;
        text-align: center;
    }

    img[id="logo1"]{
        
        height: 200px;
        width: 200px;
        margin: 10px;
        top: 220px;
        left: 60px  ;
        
    }

    img[id="image_index"], img[ id="contact1"]{
        height: 40vh;
        width: 45%;
       
    }
    #info_about{
        margin-top: 0px;
        margin-left: 10px;
        padding: 0px;
        padding-left: 8px;
        width: 38vw;
      
    }
    
    /*IMAGEN DE ABOUT*/
    img[id="about1"]{
        float: right;
        height: 60vh;
        width: 50vw;
    }
    header{
   
        height: 50vh; 
        width: 100%;
        
        background-position: center;  
        margin-top: 140px;
        
        
        
    }

    nav>a{

       
        margin: 0px 40px ;
        margin-bottom: 10px;
        margin-top: 10px;
    }

}

@media screen and (max-width: 800px){
    
    header>h1{
        font-size: 35pt;
        top: 250px;
      }
    img[id="logo1"]{
        
        height: 150px;
        width: 150px;
        margin: 10px;
        top: 280px;
        left: 60px  ;
        
    }
    main>section{
        padding-left: 0px;
        margin-left: 10px;
         }

    img[id="image_index"], img[ id="contact1"]{
        height: 40vh;
        width: 50%;
        
    }
    #contact2>section{
        margin: 0;
        padding-left: 10px;
        

    }
    main p{
        font-size: 10pt;
     }
     h3{
        font-size:  14pt;
     }       
     main>section{
        margin-top: 5px;
        margin-left: 10px;
        /* padding: 10px ; */
        /* width: 30vw; */
    
    }
        
#gallery>.grid-container{
    display: grid;
    grid-template-areas: none;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(3,140px);
    grid-gap: 10px;
}
header{
   
    height: 40vh; 
    width: 100%;
    
    background-position: top;  
    margin-top: 140px;
    

}

nav>a{

       
    margin: 0px 20px ;
    margin-bottom: 10px;
    margin-top: 10px;
}

nav{
    width: 95vw;
    left: 0px;
     
}

}
@media screen and (max-width: 480px){
    header>h1{
        font-size: 30pt;
        top:200px;
        left:60px;
        text-align: center;
    }   
    img[id="logo1"]{
        
        height: 120px;
        width: 120px;
        margin: 10px;
        top: 450px;
        left: 35vw  ;
        
    }
    main>section{
        margin-top: 0px;
        margin-left: 0px;
        padding: 0px ;
        padding-bottom: 0;
        width: 80vw;
        float:right;
    
    }
    
    
    img[id="image_index"], img[ id="contact1"]{
        text-align: center;
        width: 100vw;
        height: 400px;
    }
    #info_about{

        width: 85vw;
        float:center;
        align-items: center;
        text-align: center;
    }
   
    /*IMAGEN DE ABOUT*/
    img[id="about1"]{
        text-align: center;
        position: relative;
        width: 97vw;
        height: 400px;
        margin-top: 0px;
        margin-left: 0px;
        padding: 0px;
        float: none;
    }
    #gallery>.grid-container{
        grid-template-columns: repeat(4,60px);
        grid-template-rows: repeat(3,100px);
     }
    #contact2{
        width: 87vw;
        float:center;
        align-items: center;
        text-align: center;
        margin-top: 50px;
        

    }
    img[id="contact1"]{
        text-align: center;
        position: relative;
        width: 97vw;
        height: 400px;
        margin-top: 0px;
        margin-left: 0px;
        padding: 0px;
        float: none;
     }
     header{
   
        height: 45vh; 
        width: 100%;
        background-position: top;  
        margin-top: 160px;
        
        
        
    }
    nav>a{
    
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 0px;
    }
    
    nav{
        width: 90vw;
        left: 0px;
         
    }
    
    
}
/* final */